html
  head
    link(rel="shortcut icon", href="https://pugjs.org/images/favicon-16x16.png", type="image/x-icon")
    link(rel="stylesheet", href="/css/index.css")
    title Pug Demo - #{title}
  body
    .header
      block content